.sound-wave {
	margin-top: 2em;
	padding: 0 2em;

	opacity: 1;
	transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);

	&:not(.play) {
		opacity: 0.45;

		path {
			animation-play-state: paused !important;
		}
	}
}

#wave {
	// width: min( 350px, 100vw);
	width: min(250px, 100vw);
	height: auto;
	max-width: 90%;
	aspect-ratio: 1;
	fill: #fff;
}

@for $i from 1 through 9 {
	#Line_#{$i} {
		animation: pulse 0.5s infinite;
		animation-delay: $i * 0.05s;
	}
}

@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}

	50% {
		transform: scaleY(0.5);
		transform-origin: 50% 50%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}
